# Exercise: Introduction to Python 

Version: SoSe 2022

Estimated time needed: 90 minutes

Author: Mohamed Abdelmagied

# Objectives

After completing this exercise you will be able to:

 - conduct basic programming operations in Python
 - use lists and dictionaries 
 - Learn about control structures in Python
 - import modules in Python
 - define and call functions

#Task1

True or False:

- One of the early challenges for AI was the researchers' lack of understanding of 'computational complexity'.

solution:

True- Early AI systems like Microworlds tried out different combinations of steps until a solution was found, it was believed by the researchers that scaling up to larger problems was a matter of faster hardware, however, due to the intractability of a lot of AI problems this was not the case

# Task 2

Choose the correct answer:

..... are general purpose search mechanisms trying to strings together elementary reasoning steps to find complete solutions:

 - Knowledge-based systems
 - weak methods
 - Expert systems

solution:
- Correct: weak methods- Although they are general purpose mechanisms, they fail to scale up to larger problems. 
- Wrong: Knowledge-based systems and expert systems are not general purpose as they use large domain specific knowledge to solve specific hard problems

# Task 3
Mention 3 fields in which AI is currently used (Hint: Read Russel and Norvig 1.4)

possible solution:

- Autonomous planning and scheduling
- Game playing
- Autonomous control
- Diagnosis
- Logistics planning
- Robotics
- Language understanding and problem solving

# Simple Sequences

A simple sequence of instructions is the most basic program you can write.
The simplest sequence is one containing a single command.
We will try out some of these now.

In [ ]:
print('Hello there!')

Hello there!

## Arithmetic Operators

It's not just strings that can be printed:

In [ ]:
print(6 + 5)

11

Use some other arithmetic operators:
* sum (+)
* subtract (-)
* multiply (*)
* divide (/) <br>


Combine multiple expressions like:

In [ ]:
print(((8 * 4) + (7 - 3)) / (2 + 4))

6.0

Experiment and you will soon get the idea (note: "," separates elements in a print statement):

In [ ]:
print('The total is: ', 23 + 45)

The total is:  68

Take a few minutes to try it out (try to sum up two strings, multiply some strings with numbers).

In [ ]:
print('sum of 34 and 56 is ', 34 + 56)
print('99 - 100 = ', 99 - 100)
print(5 * 'abc')
print('Uni' + 'DuE')
print('Uni ' + 'DuE')
print(3 * ('Uni ' + 'DuE '))

sum of 34 and 56 is  90
99 - 100 =  -1
abcabcabcabcabc
UniDuE
Uni DuE
Uni DuE Uni DuE Uni DuE

## Variables
In programming terms we can create instances of data types and assign them to variables.
A variable is a reference to a specific area somewhere in the computers memory. These areas hold the data.
e.g.

In [ ]:
town = 'Duisburg'
print('I study in', town)
print("I study in " + town)

I study in Duisburg
I study in Duisburg

In Python a variable takes the type of the data assigned to it. It will keep that type and you will be warned if you try to mix data in strange ways - like trying to add a string to a number. We can change the type of data that a variable points to by reassigning the variable.

In [ ]:
q = 7
# q is now a number
print(q)
print(q + q)

q = "Seven"
# reassign q to a string
print(q)
print(q + q)

7
14
Seven
SevenSeven

## Comparison Operators
Assume variable a holds 10 and variable b holds 20 then:

| Operator | Description | Example         
|:-|:------------- | :-----------------
|==|Checks if the value of two operands are equal or not, if yes then condition becomes true.|(a == b) is not true.
|!=|Checks if the value of two operands are equal or not, if values are not equal then condition becomes true.|(a != b) is true.
|<>|Checks if the value of two operands are equal or not, if values are not equal then condition becomes true.|(a <> b) is true. This is similar to != operator.
|/>|Checks if the value of left operand is greater than the value of right operand, if yes then condition becomes true.|(a > b) is not true.
|<|Checks if the value of left operand is less than the value of right operand, if yes then condition becomes true.|(a < b) is true.
|/>=|Checks if the value of two operands are equal or not, if values are not equal then condition becomes true.|(a >= b) is not true.
|<=|Checks if the value of left operand is less than or equal to the value of right operand, if yes then condition becomes true.|(a <= b) is true.

Take a few minutes to try it out (e.g. ```me = �your name�```). Use already learned operators.

In [ ]:
me = 'Otto'
last_name = 'Normalverbaucher'
print (me + " " + last_name)

Otto Normalverbaucher

In [ ]:
me = 20
print ('I am', me)

I am 20

In [ ]:
word1 = 'one'
word2 = 'two'
print (word1 != word2)

True

In [ ]:
x = 47
y = 53
print (x >= y)

False

## Slice Operator
Subsets of strings can be taken using the slice operator (```[x]``` and ```[x:y]``` ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end. For example:
</div>

In [ ]:
str = 'Hello World!'
print (str)
# Prints complete string

print (str[0])
# Prints first character of the string

print (str[2:5])
# Prints characters starting from 3rd to 6th

print (str[2:])
# Prints string starting from 3rd character

Hello World!
H
llo
llo World!

<div class="task_description">
    <i class="task">Task 4.1:</i>

Solve the tasks below:<br>
1. Write your first name, last name, then your complete name (using the already existing variables for the latter) and then print out your complete name 20 times. Use the operators you got to know.
</div>

In [ ]:
# for example
first_name = 'Erika'
last_name = 'Mustermann'
complete_name = first_name + " " + last_name
print (20*complete_name)

Erika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika MustermannErika Mustermann

2. Calculate for how long you have lived (in days) since your birth date (assuming one year has 365 days and one month has 31 days).

In [ ]:
# for example the date of birth is 01.01.1980 and today is 18.04.2019
days = (2019 - 1980)*365 + (4 - 1)*31 + (18 - 1)
print (days)

14345

3. Let b be 27 and c 49. Show in Python that b is less than c.

In [ ]:
b = 27
c = 49
print (b < c)

True

# List Comprehension

Lists are what they seem - a list of values. Each one of them is numbered, starting from zero - the first one
is numbered zero, the second 1, the third 2, etc. You can remove values from the list, and add new values to the end.<br>

Example:

In [2]:
names = ["Otto", "Erika", "Max", "Julia", "Paul"]

You recall values from lists like you do with strings.

In [ ]:
# print name of 3rd person
print(names[2])

# print 1st and 2nd name
# this is called splicing an array
print(names[0:2])

Max
['Otto', 'Erika']

To add a value to a list, you use the ```append()``` function. To add "Heinz" to the list you would do this:

In [ ]:
names.append("Heinz")
print(names)

['Otto', 'Erika', 'Max', 'Julia', 'Paul', 'Heinz']

To remove a value from a list, you would do this:

In [ ]:
del names[1]
#deletes the 2nd name
print(names)

['Otto', 'Max', 'Julia', 'Paul', 'Heinz']

Let there be another list which contains last names. To concatenate the two lists you would do this:

In [3]:
lastnames = ["Normalverbraucher", "Mustermann", "Schulz", "Mueller", "Schmidt"]
print(names + lastnames)

['Otto', 'Erika', 'Max', 'Julia', 'Paul', 'Normalverbraucher', 'Mustermann', 'Schulz', 'Mueller', 'Schmidt']

Finally, we can determine the length of a list by using the built-in ```len()``` function:

In [ ]:
print(len(names))

5

# Branches and Loops

Gives you more control over your programs.

## The 'if' statement

The syntax of the if...elif statement is:
````py
if expression1:
    statement(s)
elif expression2:
    statement(s)
elif expression3:
    statement(s)
else:
    statement(s)
````

However the else and elif (else + �new� if) parts are optional.<br>
Example:

In [ ]:
little_traffic = True
if (little_traffic):
    print ('highway')
else:
    print ('federal and country roads')

highway

## The 'while' loop 
The while loop is one of the looping constructs available in Python. It continues until the expression becomes false. This expression has to be a logical expression and must return either a 'True' or a 'False' value.<br>
The syntax of the while loop is:

```py
while expression:
    statement(s)
```

Example:

In [ ]:
count = 0
while (count < 9):
    print ('The count is:', count)
    count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

The block here, consisting of the print and increment statements, is executed repeatedly until the count is less than 9. With each iteration, the current value of the index count is displayed and then increased by 1.

## The 'for' loop 
The for loop in Python has the ability to iterate over the items of any sequence, such as a list or a
string. The syntax of the loop look is:

````py
for item in list:
    statements(s)
````

If a sequence contains an expression list, it is evaluated first. Then, the first item in the sequence is assigned to the iterating variable 'item'. Next, the statements block is executed. Each item in the list is assigned to 'item',
and the statements(s) block is executed until the entire sequence is exhausted. <br>
Example:

In [ ]:
# First Example
for letter in 'Python': 
    print ('Current Letter :', letter)

# Second Example
fruits = ['banana', 'apple', 'mango']
for fruit in fruits: 
    print ('Current fruit :', fruit)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango

## Combination of loops and branches

General Syntax:
```py
[ expression for item in list if conditional ]
```
equivalent to
```py
for item in list:
    if conditional:
        expression
```

Below you can see further examples, starting with a simple iteration over a number. We can only  iterate over sets, so we need the range() function.

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Use a condition to filter to even numbers.

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

You can also modify the result of the iteration.

In [ ]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Working with strings:

In [ ]:
words = "This is an example".split()
print(words)

['This', 'is', 'an', 'example']

A string can be accessed like a list.

In [ ]:
[word[0] for word in words]

['T', 'i', 'a', 'e']

We can modify each of the resulting elements...

In [ ]:
[word.upper() for word in words]

['THIS', 'IS', 'AN', 'EXAMPLE']

...or use a function on each element

In [ ]:
[len(token) for token in words]

[4, 2, 2, 7]

Another example for using conditions/filters:

In [ ]:
[word for word in words if len(word) < 4]

['is', 'an']

<div class="task_description">
    <i class="task">Task 5.1:</i><br>
Create a list with the following elements (in brackets is given the data type):
</div>


123(integer), me(string), 42(integer), like(string) easy(string), Python(string), 21.0(real number), twenty(string)

1. Print out the complete list

In [ ]:
list = [123, 'me', 42, 'like', 'easy', 'Python', 21.0, 'twenty']
print (list)

[123, 'me', 42, 'like', 'easy', 'Python', 21.0, 'twenty']

2. Print out elements starting from 3rd to 6th

In [ ]:
print (list[2:6])

[42, 'like', 'easy', 'Python']

3. Add to the list elements: quickly(string) and 12.1(real number). Print out the last three elements. Use the function 'len()' for the latter.

In [ ]:
list.append('quickly')
list.append(12.1)
print (list[len(list)-3:len(list)])

['twenty', 'quickly', 12.1]

4. Delete the fifth element of this list and print out the length of the double list.

In [ ]:
del list[4]
print (len(2 * list))

18

<div class="task_description">
    <i class="task">Task 5.2:</i><br>
</div>

1. Iterate over all elements of the list, which consist  of the following elements: 25, "Berlin", "large", 575.2, "mango", "Snappy" and print out all these elements.

In [ ]:
list = [25, 'Berlin', 'large', 575.2, 'mango', 'Snappy']
for element in list:
    print (element)

25
Berlin
large
575.2
mango
Snappy

2. Print out all even numbers numbers from 0(inclusively) to 14(exclusively).

In [ ]:
counter = 0
while counter < 14:
    print(counter)
    counter = counter + 2

0
2
4
6
8
10
12

3. Given two integer numbers b and c find the maximum of these two numbers and print the name of the maximum. In case b equals c print 'b and c are equal'. You can test your program with following data:

    1. b = 6, c = 9
    2. b = 4, c = 4
    3. b= 23, c = 2

In [ ]:
b = 6
c = 9
if b < c:
    print ('c is the maximum')
elif b == c:
    print ('b and c are equal')
else:
    print ('b is the maximum')

c is the maximum

4. Create a list name_lastname so that each name from earlier on is followed by the corresponding last name. You want your solution to be: <br>
```['Otto', 'Normalverbraucher', 'Max', 'Mustermann', 'Julia', 'Schulz', 'Paul', 'Mueller', 'Heinz', 'Schmidt']```

In [4]:
names=["Otto", "Max", "Julia", "Paul", "Heinz"]
lastnames=["Normalverbraucher", "Mustermann", "Schulz", "Mueller", "Schmidt"]
name_lastname=[]
i=0
for name in names:
    name_lastname.append(names[i])
    name_lastname.append(lastnames[i])
    i+=1
print(name_lastname)

['Otto', 'Normalverbraucher', 'Max', 'Mustermann', 'Julia', 'Schulz', 'Paul', 'Mueller', 'Heinz', 'Schmidt']

Alternatively, use the ```zip()``` method, but note that it yields a slightly different result (maybe even more useful):

In [5]:
[elem for elem in zip(names, lastnames)]

[('Otto', 'Normalverbraucher'),
 ('Max', 'Mustermann'),
 ('Julia', 'Schulz'),
 ('Paul', 'Mueller'),
 ('Heinz', 'Schmidt')]

<div class="task_description">
    <i class="task">Task 5.3:</i><br>
Consider the following text: "Today it's nice weather. Is it not nice today :-) ?"
Print the following information of the given text:
</div>

1. What is the length of this text?

In [ ]:
text = "Today it's nice weather. Is it not nice today :-) ?"
print (len(text))

51

2. Represent this text as a list of tokens.

In [ ]:
tokens = text.split()

3. Concatenate the fifth to eighth element with the last five elements

In [ ]:
print (text[4 : 8] + text[len(text)-5 : len(text)])

y it:-) ?

How many times does the letter "i" appear in the text? How much is this as a percentage of the total number of
letters in this text?

In [ ]:
i_counter = 0
for letter in text:
    if letter == 'i':
        i_counter = i_counter + 1
print (i_counter)
print ((i_counter * 100.0 / len(text)), '%') # as real number
print ((i_counter * 100 // len(text)), '%') # as integer

4
7.8431372549019605 %
7 %

<div class="task_description">
    <i class="task">Task 5.4:</i><br>
Given a list of elements (defined below).
Print out the longest element of this list and its length.
</div>

In [ ]:
tokens = "I like the weather in autumn, how it's cold and crips and sunny and fresh.".split()

max_length = 0
longest_element = ''
for item in tokens:
    if len(item) > max_length:
        max_length = len(item)
        longest_element = item
print('the longest element is:', longest_element)
print('the length of', longest_element, 'is', max_length)

the longest element is: weather
the length of weather is 7

In [ ]:
# alternative way of doing the same
max_length, longest_element = max([(len(x),x) for x in tokens])
print(longest_element + " has length " + str(max_length))

weather has length 7

### Functions

As you already know, Python gives you many built-in functions like ```print()```, ```len()``` etc. but you can also create your own functions. These functions are called user-defined functions.

Functions are little self-contained programs that perform a specific task, which you can incorporate into your own, larger programs. After you have created a function, you can use it at any time, in any place. This saves time and without repetitions of code your programm will be more readable for other people.

We start with the keyword ```def``` which is followed by the name of the function and the indicator for the function's arguments. We list the arguments giving them the names that will be used in the definition of the function. These names have nothing to do with any name that may appear outside the function definition. The line ends with a colon and what follows, the definition of the function, is indented.
This indented block carries the actual working of the function.

By using the keyword ```return``` (which can only be used in a function) the calculated value is returned.

Below you can see a function which, given a list, prints out the total length of elements in the list.

In [ ]:
def total_length(list):
    sum = 0
    for element in list:
        sum = sum + len(element)
    return sum

total_length(['123', 'xyz', 'a'])

7

One more example: This function finds the length of the longest element in a list.

In [ ]:
def longest_element(list):
    longest = len(list[0]) # initializes the length of the longest element as the length of the first element
    for element in list:
        if len(element) > longest:
            longest = len(element)
    return longest

longest_element(["Python","GKI","Introduction"])

12

### Import
Suppose we have written a really useful function that we want to use in many different scripts.
We can, of course, just copy the function's definition from one script to another. However, if we change the function definition in one script we have to repeat the edit in all our scripts.
What we want is a mechanism to use a single definition in multiple scripts. This is called 'importing the function'.
The import of only one function can cause problems, so it is better to import a module with this function. A module is a file consisting of Python code. It can define functions, variables and classes.

#### The import statement:
You can use any Python source file as a module by executing an import statement in some other Python source file. 'import' has the following syntax:
```py
import module1[, module2[,... moduleN]
```

#### The from...import statement
Python's 'from...import' statement lets you import specific attributes from a module into the current namespace:
```py
from modname import name1[, name2[, ... nameN]]
```

#### The from...import * statement: 
It is also possible to import all names from a module into the current namespace by using the following import statement:
```py
from modname import *
```

<div class="task_description">
    <i class="task">Task 6.1:</i>
Given two integer numbers b and c find the minimum of these two numbers and print the name of the minimum. In case b equals c print 'b and c are equal'. Write a function to solve this task: You can test your program with following data:

   1. b = 6, c = 9
   2. b = 4, c = 4
   3. b= 23, c = 2
</div>

In [ ]:
def min(b,c):
    if b < c:
        print ('b is the minimum')
    elif b == c:
        print ('b and c are equal')
    else:
        print ('c is the minimum')

min(6, 9) # 1.
min(4, 4) # 2.
min(23, 2) # 3.

b is the minimum
b and c are equal
c is the minimum

<div class="task_description">
    <i class="task">Task 6.2:</i><br>
Given is a list print out the total length of the list's elements.
For example: total_length(["123", "xyz", 'a']) returns 7.
</div>

In [ ]:
def total_length(list):
    sum = 0
    for element in list:
        sum = sum + len(element)
    return sum
print (total_length(["123","xyz","a"]))

7

<div class="task_description">
    <i class="task">Task 6.3:</i><br>
</div>

Given is a list with integer and real numbers. Define a function that returns a list with only positive
numbers.

In [ ]:
def positive(a_list):
    answer = []
    for a in a_list:
        if a > 0:
            answer.append(a)
    return answer
print (positive([3,-3,2.4,-0.1]))

[3, 2.4]

Define a function that returns how many times the letter "s" appears in the text (don't use any built-in functions). How much is this as a percentage of the total number of letters in this text (print it out)?

In [ ]:
def s_occur(text):
    s_counter = 0
    for letter in text:
        if letter == 's':
            s_counter = s_counter + 1
    print ("The s's make up", (s_counter * 100 / len(text)), '%',"of the text")
    return s_counter
print (s_occur("This is a test text"))

The s's make up 15.789473684210526 % of the text
3

<div class="task_description">
    <i class="task">Task 6.4:</i><br>
Solve the tasks below:
</div>

1. Define a function that returns the length of the longest word of text. (Hint: e.g. with a for loop you can iterate over the words of the text.)

In [ ]:
def max_length(text):
    max = 0
    for item in text.split():
        if len(item) > max:
            max = len(item)
    return max
print(max_length("This is a test text"))

4

2. Define a function that prints "Yes" when the text has more than 20,000 tokens and the length of the longest word is at least 10 characters. Otherwise return "No". (Hint: You can use the function from the previous task.)

In [ ]:
def yes_or_no(text):
    if len(text) > 20000 and max_length(text) >= 10:
        print ("Yes")
    else:
        print ("No")
print(yes_or_no("This is a test text"))

No
None

3. Define a function that prints out all tokens of a text. Use a ```for``` loop.

In [ ]:
def print_out(text):
    for item in text.split():
        print(item)
        
print_out("This is a test text")

This
is
a
test
text

Congratulations! You are now done with the first exercise of GKI.

______

## Author

Mohsen Mesgar

## Other Contributors

N/A